﻿@using System.Linq
@model Models.Payslip

<div class="row">
    <div class="col-2">
        <a asp-page="../Payslip/Details" asp-route-id="@Model.Id" class="text-secondary">
            <span class="sr-only">Details</span>
            <i class="align-content-center far fa-list-alt"></i>
        </a>
        <a asp-page="../Payslip/Delete" asp-route-id="@Model.Id" class="text-danger ml-2">
            <span class="sr-only">Delete</span>
            <i class="align-content-center far fa-minus-square"></i>
        </a>
        <a asp-page="../Payslip/Print" asp-route-id="@Model.Id" class="text-info ml-2">
            <span class="sr-only">Print</span>
            <i class="far fa-file-pdf"></i>
        </a>
    </div>
    <div class="col-2">@Model.Year</div>
    <div class="col-2">@Model.Month</div>
    <div class="col-2">@Model.TaxCode</div>
    <div class="col-2">@Model.Payments.Select(x => x.Value).Sum().ToString("C")</div>
    <div class="col-2">@Model.Adjustments.Select(x => x.Value).Sum().ToString("C")</div>
</div>
