﻿@page
@model DeleteModel

@{
    ViewData["Title"] = "Delete Employee";
}

<div class="m-auto">

    <h3 class="text-danger">Are you sure you want to delete <span class="text-primary font-weight-bold">@Model.Employee.Name</span> and remove all related data?</h3>

    <form method="post">
        <input type="hidden" asp-for="Employee.Id" />

        <a asp-page="../Company/Index" class="btn btn-primary">
            <i class="fas fa-backspace"></i>
            Cancel
        </a>
        <button class="btn btn-danger ml-2">
            <i class="far fa-trash-alt"></i>
            Delete
        </button>
    </form>
</div>