﻿@page
@model DetailsModel

@{
    ViewData["Title"] = "Employee Details";
}
<div class="card border-dark card-limits">
    <div class="card-title bg-primary text-light card-header d-flex">
        <h4 class="m-auto">
            @Model.Employee.Name

            <a asp-page="./Edit" asp-route-id="@Model.Employee.Id" class="text-info ml-1">
                <span class="sr-only">Edit</span>
                <i class="far fa-edit"></i>
            </a>
            <a asp-page="./Delete" asp-route-id="@Model.Employee.Id" class="text-danger">
                <span class="sr-only">Delete</span>
                <i class="align-content-center far fa-minus-square"></i>
            </a>
        </h4>
    </div>

    <div class="card-body">
        <div class="d-flex">
            <div class="flex-fill">
                <div class="row">
                    <label class="text-muted my-auto col-3" asp-for="Employee.EmployeeId"></label>
                    <div class="col-8">@Model.Employee.EmployeeId</div>
                </div>

                <div class="row">
                    <label class="text-muted my-auto col-3" asp-for="Employee.ContractReference"></label>
                    <div class="bg-light col-8">@Model.Employee.ContractReference</div>
                </div>

                <div class="row">
                    <label class="text-muted my-auto col-3" asp-for="Employee.NICode"></label>
                    <div class="col-8">@Model.Employee.NICode</div>
                </div>

                <div class="row">
                    <label class="text-muted my-auto col-3" asp-for="Employee.AnnualSalary"></label>
                    <div class="bg-light col-8">@Model.Employee.AnnualSalary.ToString("C")</div>
                </div>
            </div>
            <div class="text-secondary">
                <partial name="_AddressPartial" model="@Model.Employee.Address" />
            </div>
        </div>

        <div class="mt-3">
            <h4 class="text-secondary d-inline">Payslips</h4>
            <a asp-page="../Payslip/Create" asp-route-id="@Model.Employee.Id" class="text-primary ml-2">
                <span class="sr-only">Add New Payslip</span>
                <i class="far fa-plus-square"></i>
            </a>
        </div>
        <div class="mt-2 list-group">
            @{

                <div class="row bg-dark text-light">
                    <div class="col-2"></div>
                    <div class="col-2">Year</div>
                    <div class="col-2">Month</div>
                    <div class="col-2">Tax code</div>
                    <div class="col-2">Payments</div>
                    <div class="col-2">Adjustments</div>
                </div>

                var toggle = false;
                foreach (var payslip in Model.Employee.Payslips.OrderBy(x => x.Year).ThenBy(x => x.Month))
                {
                    <div class="@(toggle ? "bg-light" : null) text-primary">
                        <partial name="_PayslipPartial" model="payslip" />
                    </div>
                    toggle = !toggle;
                }
            }
        </div>
    </div>

    <div class="card-footer d-flex justify-content-end">
        <a asp-page="../Company/Index" class="btn btn-outline-dark">
            <i class="fas fa-backspace"></i>
            Back
        </a>
        <a asp-page-handler=""></a>
    </div>
</div>