﻿@page
@model EditModel

@{
    ViewData["Title"] = "Edit Employee Details";
}
<div class="card border-dark card-limits">
    <form method="post">

        <input type="hidden" asp-for="Employee.Id" />
        <input type="hidden" asp-for="Employee.AddressId" />
        <input type="hidden" asp-for="Employee.CompanyId"/>

        <div class="card-title bg-primary text-light card-header d-flex">
            <h4 class="m-auto">@Model.Employee.Name</h4>
        </div>

        <div class="card-body">
            <div>
                <div class="form-group form-inline">
                    <label asp-for="Employee.Name"></label>
                    <input class="form-control" asp-for="Employee.Name" />
                    <span asp-validation-for="Employee.Name"></span>
                </div>

                <div class="form-group form-inline">
                    <label asp-for="Employee.EmployeeId"></label>
                    <input class="form-control" asp-for="Employee.EmployeeId" />
                    <span asp-validation-for="Employee.EmployeeId"></span>
                </div>

                <div class="form-group form-inline">
                    <label asp-for="Employee.NICode"></label>
                    <input class="form-control" asp-for="Employee.NICode" />
                    <span asp-validation-for="Employee.NICode"></span>
                </div>

                <div class="form-group form-inline">
                    <label asp-for="Employee.AnnualSalary"></label>
                    <input class="form-control" asp-for="Employee.AnnualSalary" />
                    <span asp-validation-for="Employee.AnnualSalary"></span>
                </div>

                <div class="form-group form-inline">
                    <label asp-for="Employee.Address.Line1"></label>
                    <input class="form-control" asp-for="Employee.Address.Line1" />
                    <span asp-validation-for="Employee.Address.Line1"></span>
                </div>
                <div class="form-group form-inline">
                    <label asp-for="Employee.Address.Line2"></label>
                    <input class="form-control" asp-for="Employee.Address.Line2" />
                    <span asp-validation-for="Employee.Address.Line2"></span>
                </div>
                <div class="form-group form-inline">
                    <label asp-for="Employee.Address.City"></label>
                    <input class="form-control" asp-for="Employee.Address.City" />
                    <span asp-validation-for="Employee.Address.City"></span>
                </div>
                <div class="form-group form-inline">
                    <label asp-for="Employee.Address.Postcode"></label>
                    <input class="form-control" asp-for="Employee.Address.Postcode" />
                    <span asp-validation-for="Employee.Address.Postcode"></span>
                </div>
            </div>
        </div>

        <div class="card-footer d-flex justify-content-end">
            <a asp-page="../Company/Index" class="btn btn-outline-dark">
                <i class="fas fa-backspace"></i>
                Cancel
            </a>
            <button class="btn btn-primary ml-2">
                <i class="far fa-save"></i>
                Save
            </button>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}