﻿@model Models.Employee

<div class="d-flex">
    <div class="d-flex align-content-center flex-nowrap">
        <a asp-page="../Employee/Details" asp-route-id="@Model.Id" class="text-secondary">
            <span class="sr-only">Details</span>
            <i class="align-content-center far fa-list-alt"></i>
        </a>
        <a asp-page="../Employee/Edit" asp-route-id="@Model.Id" class="text-info ml-2">
            <span class="sr-only">Edit</span>
            <i class="far fa-edit"></i>
        </a>
        <a asp-page="../Employee/Delete" asp-route-id="@Model.Id" class="text-danger ml-2">
            <span class="sr-only">Delete</span>
            <i class="align-content-center far fa-minus-square"></i>
        </a>
    </div>
    <div class="ml-3 flex-fill">
        @Model.Name
    </div>
</div>