﻿@page
@model DeleteModel

@{
    ViewData["Title"] = "Delete Company";
}

<div class="m-auto">

    <h1 class="text-danger">Are you sure you want to delete the whole company?</h1>

    <form method="post">
        <input type="hidden" asp-for="Company.Id" />
        <a asp-page="./Index" class="btn btn-primary ml-2">
            <i class="fas fa-backspace"></i>
            Cancel
        </a>
        <button class="btn btn-danger">
            <i class="far fa-trash-alt"></i>
            Delete
        </button>
    </form>
</div>