﻿@page
@model IndexModel

@{
    ViewData["Title"] = Model.Company.Name;
}

<div class="container-fluid">
    <div class="d-flex flex-row">
        <div class="d-flex flex-grow-1">
            <h2 class="my-auto text-primary">@Model.Company.Name</h2>
            <div class="ml-4 my-auto" style="font-size: 1.25rem">
                <a asp-page="./Edit" asp-route-id="@Model.Company.Id" class="text-info">
                    <span class="sr-only">Edit</span>
                    <i class="far fa-edit"></i>
                </a>
                <a asp-page="./Delete" asp-route-id="@Model.Company.Id" class="text-danger">
                    <span class="sr-only">Delete</span>
                    <i class="far fa-minus-square"></i>
                </a>
            </div>
        </div>

        <div class="text-secondary">
            <partial name="_AddressPartial" model="@Model.Company.Address" />
        </div>
    </div>

    <div>
        <div class="d-flex">
            <h3 class="text-secondary">Employees</h3>
            <a asp-page="../Employee/Create" asp-route-id="@Model.Company.Id" class="text-primary my-auto ml-2">
                <span class="sr-only">Add New Employee</span>
                <i class="far fa-plus-square"></i>
            </a>
        </div>

        <div class="mt-4 list-group">
            @{
                var toggle = false;
                foreach (var employee in Model.Company.Employees.OrderBy(x => x.Name))
                {

                    <div class="@(toggle ? "bg-light" : null) text-primary list-group-item">
                        <partial name="_EmployeePartial" model="employee" />
                    </div>
                    toggle = !toggle;
                }
            }
        </div>
    </div>
</div>