﻿@page
@model SetupModel

@{
    ViewData["Title"] = "Company Setup";
}

<div class="card border-dark card-limits">
    <form method="post">
        <div class="card-title bg-primary text-light card-header d-flex">
            <h4 class="m-auto">Company Setup</h4>
        </div>

        <div class="card-body">
            <div>
                <div class="form-group form-inline">
                    <label asp-for="Company.Name"></label>
                    <input class="form-control" asp-for="Company.Name" />
                    <span asp-validation-for="Company.Name"></span>
                </div>
                <div class="form-group form-inline">
                    <label asp-for="Company.Address.Line1"></label>
                    <input class="form-control" asp-for="Company.Address.Line1" />
                    <span asp-validation-for="Company.Address.Line1"></span>
                </div>
                <div class="form-group form-inline">
                    <label asp-for="Company.Address.Line2"></label>
                    <input class="form-control" asp-for="Company.Address.Line2" />
                    <span asp-validation-for="Company.Address.Line2"></span>
                </div>
                <div class="form-group form-inline">
                    <label asp-for="Company.Address.City"></label>
                    <input class="form-control" asp-for="Company.Address.City" />
                    <span asp-validation-for="Company.Address.City"></span>
                </div>
                <div class="form-group form-inline">
                    <label asp-for="Company.Address.Postcode"></label>
                    <input class="form-control" asp-for="Company.Address.Postcode"/>
                    <span asp-validation-for="Company.Address.Postcode"></span>
                </div>
            </div>
        </div>

        <div class="card-footer d-flex justify-content-end">
            <button class="btn btn-primary">
                <i class="far fa-save"></i>
                Create Company
            </button>
        </div>
    </form>
</div>

@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}