﻿@page
@model CreateModel

@{
    ViewData["Title"] = "Payslip Setup";
}

<div class="card border-dark card-limits">
    <form method="post">

        <input type="hidden" asp-for="Payslip.EmployeeId" />

        <div class="card-title bg-primary text-light card-header d-flex">
            <h4 class="m-auto">Payslip Setup For @Model.EmployeeName</h4>
        </div>

        <div class="card-body">
            <div class="form-group form-inline">
                <label asp-for="Payslip.Month"></label>
                <input class="form-control" asp-for="Payslip.Month" />
                <span asp-validation-for="Payslip.Month"></span>
            </div>
            <div class="form-group form-inline">
                <label asp-for="Payslip.Year"></label>
                <input class="form-control" asp-for="Payslip.Year" />
                <span asp-validation-for="Payslip.Year"></span>
            </div>
            <div class="form-group form-inline">
                <label asp-for="Payslip.TaxCode"></label>
                <input class="form-control" asp-for="Payslip.TaxCode" />
                <span asp-validation-for="Payslip.TaxCode"></span>
            </div>
            
            <div class="form-group form-inline">
                <label asp-for="Payslip.NICategory"></label>
                <select class="form-control" asp-for="Payslip.NICategory" asp-items="Model.NICategories"></select>
                <span asp-validation-for="Payslip.NICategory"></span>
            </div>
        </div>

        <div class="card-footer d-flex justify-content-end">
            <a asp-page="../Employee/Details" asp-route-id="@Model.Payslip.EmployeeId" class="btn btn-outline-dark">
                <i class="fas fa-backspace"></i>
                Cancel
            </a>
            <button class="ml-2 btn btn-primary">
                <i class="far fa-save"></i>
                Save
            </button>
        </div>

    </form>
</div>


@section Scripts {
    @{ await Html.RenderPartialAsync("_ValidationScriptsPartial"); }
}