﻿@page
@model DeleteModel

@{
    ViewData["Title"] = "Delete Employee";
}

<div class="m-auto">

    <h3 class="text-danger">Are you sure you want to delete payslip <span class="text-primary">@Model.Payslip.Year - @Model.Payslip.Month</span>
        for <span class="text-info">@Model.Payslip.Employee.Name</span> and remove all related data?</h3>

    <form method="post">
        <input type="hidden" asp-for="Payslip.Id" />
        <input type="hidden" asp-for="Payslip.EmployeeId" />

        <a asp-page="../Employee/Details" asp-route-id="@Model.Payslip.EmployeeId" class="btn btn-primary">
            <i class="fas fa-backspace"></i>
            Cancel
        </a>
        <button class="btn btn-danger ml-2">
            <i class="far fa-trash-alt"></i>
            Delete
        </button>
    </form>
</div>