﻿@page
@using µPayroll.Infrastructure
@model DetailsModel

@{
    ViewData["Title"] = "Payslip Details";
}

<div class="card border-dark card-limits">
    <div class="card-title bg-primary text-light card-header">
        <h4 class="text-center">Payslip Details For <span class="font-weight-bold">@Model.EmployeeName</span></h4>
    </div>

    <div class="card-body">
        <div class="d-flex rounded border py-2 bg-dark">
            <div class="flex-fill text-center">
                <label class="text-light" asp-for="Payslip.Month"></label>
                <div class="text-info">@Model.Payslip.Month</div>
            </div>
            <div class="flex-fill text-center">
                <label class="text-light" asp-for="Payslip.Year"></label>
                <div class="text-info">@Model.Payslip.Year</div>
            </div>
            <div class="flex-fill text-center">
                <label class="text-light" asp-for="Payslip.TaxCode"></label>
                <div class="text-info">@Model.Payslip.TaxCode</div>
            </div>
            <div class="flex-fill text-center">
                <label class="text-light" asp-for="Payslip.NICategory"></label>
                <div class="text-info">@Model.Payslip.NICategory</div>
            </div>
        </div>

        <div class="d-flex mt-3">
            <h4 class="text-secondary my-auto">Payments</h4>

            @if (!Model.IsReadOnly)
            {
                <a asp-page-handler="NewPayment" asp-route-id="@Model.Payslip.Id"
                   class="btn btn-link btn-primary border-0">
                    <span class="sr-only">New Payment</span>
                    <i class="far fa-plus-square"></i>
                </a>
            }
        </div>

        <div class="mt-2">
            @{
                <div class="row">
                    <div class="col-4">
                        @Html.DisplayNameFor(x => x.Payslip.Payments[0].Description)
                    </div>
                    <div class="col-2">
                        @Html.DisplayNameFor(x => x.Payslip.Payments[0].Quantity)
                    </div>
                    <div class="col-2">
                        @Html.DisplayNameFor(x => x.Payslip.Payments[0].UnitValue)
                    </div>
                    <div class="col-2">
                        @Html.DisplayNameFor(x => x.Payslip.Payments[0].Value)
                    </div>
                    <div class="col-2">
                    </div>
                </div>

                foreach (var CurrentPayment in Model.Payslip.Payments)
                {
                    if (!Model.IsReadOnly)
                    {
                        <form method="post">
                            <input type="hidden" asp-for="CurrentPayment.Id" value="@CurrentPayment.Id" />
                            <input type="hidden" asp-for="CurrentPayment.PayslipPaymentId" value="@CurrentPayment.PayslipPaymentId" />
                            <div class="row my-2">
                                <div class="col-4">
                                    <input class="form-control" asp-for="@CurrentPayment.Description" />
                                    <span asp-validation-for="@CurrentPayment.Description"></span>
                                </div>
                                <div class="col-2">
                                    <input class="form-control" asp-for="@CurrentPayment.Quantity" />
                                    <span asp-validation-for="@CurrentPayment.Quantity"></span>
                                </div>
                                <div class="col-2">
                                    <input class="form-control" asp-for="@CurrentPayment.UnitValue" />
                                    <span asp-validation-for="@CurrentPayment.UnitValue"></span>
                                </div>
                                <div class="col-2">
                                    <div class="form-control">@CurrentPayment.Value.ToString("c")</div>
                                </div>
                                <div class="col-2">
                                    <button asp-page-handler="DiscardPayment" asp-route-id="@Model.Payslip.Id" class="btn-outline-secondary btn">
                                        <span class="sr-only">Discard</span>
                                        <i class="far fa-trash-alt"></i>
                                    </button>
                                    <button asp-page-handler="UpdatePayment" asp-route-id="@Model.Payslip.Id" class="btn-primary btn border-0">
                                        <span class="sr-only">Save</span>
                                        <i class="far fa-save"></i>
                                    </button>
                                </div>
                            </div>
                        </form>
                    }
                    else
                    { <div class="row">
                            <div class="col">
                                <label class="text-muted my-auto" asp-for="@CurrentPayment.Description"></label>
                                <input class="form-control" asp-for="@CurrentPayment.Description" />
                                <span asp-validation-for="@CurrentPayment.Description"></span>
                            </div>
                            <div class="col">
                                <label class="text-muted my-auto" asp-for="@CurrentPayment.Quantity"></label>
                                <input class="form-control" asp-for="@CurrentPayment.Quantity" />
                                <span asp-validation-for="@CurrentPayment.Quantity"></span>
                            </div>
                            <div class="col">
                                <label class="text-muted my-auto" asp-for="@CurrentPayment.UnitValue"></label>
                                <input class="form-control" asp-for="@CurrentPayment.UnitValue" />
                                <span asp-validation-for="@CurrentPayment.UnitValue"></span>
                            </div>
                            <div class="col">
                                <label class="text-muted my-auto" asp-for="@CurrentPayment.Value"></label>
                                <div>@CurrentPayment.Value</div>
                            </div>
                        </div>
                    }
                }
            }
        </div>

        <div class="d-flex mt-3">
            <h4 class="text-secondary my-auto">Adjustments</h4>

            @if (!Model.IsReadOnly)
            {
                <a asp-page-handler="NewAdjustment" asp-route-id="@Model.Payslip.Id"
                   class="btn btn-link btn-primary border-0">
                    <span class="sr-only">New Payment</span>
                    <i class="far fa-plus-square"></i>
                </a>
            }
        </div>

        <div class="mt-2 d-flex flex-row flex-wrap">
            @{
                if (!Model.IsReadOnly)
                {
                    <div class="flex-fill p-2 m-1">
                        <h5 class="text-center text-black-50">Statuary Additions</h5>
                        <div class="row text-info text-center">
                            <div class="col-6">
                                Description
                            </div>
                            <div class="col-4">
                                Value
                            </div>
                            <div class="col-2">
                            </div>
                        </div>
                        @foreach (var CurrentAdjustment in Model.Payslip.Adjustments.Where(x => x.AdjustmentType == AdjustmentType.StatuaryAddition))
                        {
                            <form method="post">
                                <input type="hidden" asp-for="CurrentAdjustment.Id" value="@CurrentAdjustment.Id" />
                                <input type="hidden" asp-for="CurrentAdjustment.PayslipAdjustmentId" value="@CurrentAdjustment.PayslipAdjustmentId" />
                                <div class="row my-1">
                                    <div class="col-6">
                                        <input class="form-control" asp-for="@CurrentAdjustment.Description" />
                                        <span asp-validation-for="@CurrentAdjustment.Description"></span>
                                    </div>
                                    <div class="col-4">
                                        <input class="form-control" asp-for="@CurrentAdjustment.Value" />
                                        <span asp-validation-for="@CurrentAdjustment.Value"></span>
                                    </div>
                                    <div class="col-2">
                                        <button asp-page-handler="DiscardAdjustment" asp-route-id="@Model.Payslip.Id" class="btn-outline-secondary btn">
                                            <span class="sr-only">Discard</span>
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                        <button asp-page-handler="UpdateAdjustment" asp-route-id="@Model.Payslip.Id" class="btn-primary btn border-0">
                                            <span class="sr-only">Save</span>
                                            <i class="far fa-save"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        }
                    </div>
                    <div class="flex-fill p-2 m-1">
                        <h5 class="text-center text-black-50">Statuary Deductions</h5>
                        <div class="row text-info text-center">
                            <div class="col-6">
                                Description
                            </div>
                            <div class="col-4">
                                Value
                            </div>
                            <div class="col-2">
                            </div>
                        </div>
                        @foreach (var CurrentAdjustment in Model.Payslip.Adjustments.Where(x => x.AdjustmentType == AdjustmentType.StatuaryDeduction))
                        {
                            <form method="post">
                                <input type="hidden" asp-for="CurrentAdjustment.Id" value="@CurrentAdjustment.Id" />
                                <input type="hidden" asp-for="CurrentAdjustment.PayslipAdjustmentId" value="@CurrentAdjustment.PayslipAdjustmentId" />
                                <div class="row my-1">
                                    <div class="col-6">
                                        <input class="form-control" asp-for="@CurrentAdjustment.Description" />
                                        <span asp-validation-for="@CurrentAdjustment.Description"></span>
                                    </div>
                                    <div class="col-4">
                                        <input class="form-control" asp-for="@CurrentAdjustment.Value" />
                                        <span asp-validation-for="@CurrentAdjustment.Value"></span>
                                    </div>
                                    <div class="col-2">
                                        <button asp-page-handler="DiscardAdjustment" asp-route-id="@Model.Payslip.Id" class="btn-outline-secondary btn">
                                            <span class="sr-only">Discard</span>
                                            <i class="far fa-trash-alt"></i>
                                        </button>
                                        <button asp-page-handler="UpdateAdjustment" asp-route-id="@Model.Payslip.Id" class="btn-primary btn border-0">
                                            <span class="sr-only">Save</span>
                                            <i class="far fa-save"></i>
                                        </button>
                                    </div>
                                </div>
                            </form>
                        }
                    </div>
                }
            }
        </div>

    </div>

    <div class="card-footer text-right">
        <a asp-page="../Employee/Details" asp-route-id="@Model.Payslip.EmployeeId" class="btn btn-outline-dark">
            <i class="fas fa-backspace"></i>
            Back
        </a>
        @if (!Model.IsReadOnly)
        {
            <a asp-page-handler="IssuePayslip" asp-route-id="@Model.Payslip.Id" class="ml-2 btn btn-primary text-light">
                <i class="fas fa-lock"></i>
                Issue Payslip
            </a>
        }
    </div>
</div>