@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 300;
    src: local('Open Sans Light'), local('OpenSans-Light'), url(https://fonts.gstatic.com/s/opensans/v15/mem5YaGs126MiZpBA-UN_r8OUuhp.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

html, body {
    height: 100%;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

.card-limits {
    width: 97%;
    min-width: 20rem;
    max-width: 100rem;
    margin: auto;
}

div.form-group.form-inline select,
div.form-group.form-inline input[type=date],
div.form-group.form-inline input[type=number],
div.form-group.form-inline input[type=text] {
    flex: 1 0 10rem !important;
}

div.form-group.form-inline label {
    flex: 1 0 8rem;
    max-width: 10rem;
    justify-content: flex-start;
}

div.form-group.form-inline span {
    flex-basis: 100%;
    flex-wrap: nowrap;
    text-align: right;
    color: #dc3545; /* ideally this should be inherited from text-danger but since we're in css.. */
}

.card {
    display: block;
}